@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

@layer base {
  .dltxlabs-shadow {
    filter: drop-shadow(0 0 40px rgba(255, 255, 255, 1))
  }

  @keyframes moveChain {
    from {
      transform: translateX(-25rem) scale(50%);
    }
    to {
      transform: translateX(-200rem) scale(50%);
    }
  }
  
  .chain-wrapper {
    animation: moveChain 120s linear infinite;
    translate: 0 -27.5rem;
  }
}
